.header {
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
  background-color: #002f6c;
}

.logo {
  font-size: 2rem;
  color: white;
}

.nav {
  margin-right: 1rem;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

.nav button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  border-bottom: 4px solid transparent;
}

.nav button:hover {
  color: #e1f5fe;
  cursor: pointer;
  border-bottom: 4px solid #e1f5fe;
}

.nav a {
  text-decoration: none;
  color: #fff;
  border-bottom: 4px solid transparent;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #e1f5fe;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #e1f5fe;
}
