.container {
  margin-top: 5rem;
}

.row {
  display: flex;
  justify-content: center;
}

.row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  margin: 0 4rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-75 {
  margin: 0 4rem;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  margin-bottom: 1rem;
  padding: 0.75rem;
  font-size: 1.05rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input.error {
  color: red;
  border-color: red;
}
.error {
  color: red;
  border-color: red;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #01579b;
  border-color: #01579b;
  cursor: pointer;
}

.icon-img {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  margin-bottom: 1rem;
  margin-top: -3rem;
}

.btn-primary {
  color: #fff;
  background-color: #002f6c;
  border-color: #002f6c;
  padding: 0.4rem;
  border-radius: 5px;
  font-size: 1.1rem;
}

.reset {
  color: black;
}

.last-row {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 1rem;
  width: 100%;
}

.last-row label {
  font-weight: bold;
  font-size: 1.15rem;
  margin-right: 1rem;
}
.errorMsg {
  color: red;
  margin-top: 0px;
}
.messageMsg {
  color: green;
  margin-top: 0px;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}
