.row {
  width: 65%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #eef5ff;
  border: 2px solid #afc2cb;
  border-radius: 10px;
}

.row-item {
  width: 25%;
}

.row-item p {
  margin-bottom: -3px;
}
