.item {
  margin: 1rem 0;
  /* margin: auto; */
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #eef5ff;
}

.item .title p {
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: left;
  font-family: monospace;
  font-size: 1.7rem;
  color: #212929;
}

.container {
  width: 90%;
}

.description {
  margin: 0;
  /* width: 1000px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.description label {
  font-size: 0.97rem;
  margin-bottom: 10px;
}

.content {
  font-size: 1.5rem;
  font-family: monospace;
  color: #212929;
}

.icon {
  padding-top: 20px;
  margin-left: -50px;
  margin-right: -50px;
}

.btn {
  font-size: 1.1rem;
  text-decoration: none;
  background-color: #002f6c;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #002f6c;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #01579b;
  border-color: #01579b;
}

.selectedBtn {
  font-size: 1.1rem;
  text-decoration: none;
  background-color: #01579b;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #01579b;
  cursor: pointer;
}

@media only screen and (max-width: 1150px) {
  .row-item {
    width: 45%;
    margin-bottom: 15px;
  }
}
