.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.date {
  padding: 0.4rem;
  margin-top: -10px;
}

@media only screen and (max-width: 700px) {
  .date,
  .items button {
    margin-top: 10px;
  }
}
