.container {
  background-color: #263238;
  width: 90%;
  max-width: 60rem;
  margin: 8rem auto;
  color: white;
  border-radius: 12px;
  padding: 2rem;
  padding-top: 0.8rem;
}

.flight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
}

.flight p {
  font-size: 2.5rem;
}

.flight .details {
  font-style: italic;
  font-size: 1.5rem;
  color: #e1f5fe;
}

.timing-info {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #e1f5fe;
}

.cabin-info {
  padding: 1.5rem;
}

.cabin-info div {
  margin: 10px;
  font-size: 1.2rem;
}

.cabin-info label {
  color: #e1f5fe;
  font-size: 1.1rem;
  margin-right: 10px;
}

.actions {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: right;
}

.actions button {
  margin-left: 25px;
}
