@import url("https://fonts.googleapis.com/css?family=Roboto");

#registrationPage {
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
  background: #78a7ba;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
.signupForm {
  overflow: auto;
  flex: 1;
  max-width: 600px;
  border-radius: 10px;
  background-color: #eff0f1;
  border: 1px solid #999;
  margin-top: auto;
  margin-bottom: auto;
}
.formHeader {
  margin: auto;
}
.formHeader h1 {
  font-size: 28px;
  text-align: center;
  color: #666;
}
.row {
  display: flex;
  flex-direction: row;
}
.inputGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}

.inputGroup label {
  color: black;
  font-size: 17px;
  font-weight: 500;
}

.input {
  padding: 10px 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #cfcfcf;
}

/* .inputGroup input[type="text"] .inputGroup input[type="datetime-local"] {
  font-size: 18px;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 10px 10px;
  color: teal;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: teal;
  outline: none;
} */
.formBody {
  background: white;
  padding: 5px 10px;
}
.formFooter {
  display: flex;
  justify-content: flex-end;
}
.btn {
  background-color: #002f6c;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.btn:hover,
.btn:active {
  color: #002f6c;
  background-color: #fff;
  border: 2px solid #002f6c;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}
