.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-color: #fff;
}

.form-wrapper {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0px 5px 5px #555;
  background-color: #ffffff;
}

.form-wrapper form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.form-wrapper h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form-wrapper label {
  font-size: 1em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

.form-wrapper input {
  padding: 10px 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #cfcfcf;
}

.form-wrapper input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

.form-wrapper input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.form-wrapper input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

.flight_number {
  margin-right: 1%;
}
.from {
  margin-right: 1%;
}
.to {
  margin-right: 1%;
}

.departure_date {
  margin-left: 1%;
}

.arrival_date {
  margin-left: 1%;
}

.economy_seats {
  margin-left: 1%;
}
.business_seats {
  margin-left: 1%;
}
.business_price {
  margin-left: 1%;
}
.economy_price {
  margin-left: 1%;
}
.first_seats {
  margin-left: 1%;
}

.first_price {
  margin-left: 1%;
}
.baggage_allowance {
  margin-left: 1%;
}
.terminal {
  margin-left: 1%;
}

.flight_number,
.from,
.to,
.departure_date,
.arrival_date,
.economy_seats,
.business_seats,
.first_seats,
.first_price,
.terminal,
.economy_price,
.business_price,
.baggage_allowance {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.flight_number {
  width: 100%;
}

.from,
.to {
  width: 49%;
}
.departure_date,
.arrival_date {
  width: 49%;
}

.first_seats,
.first_price {
  width: 49%;
}
.baggage_allowance,
.terminal {
  width: 49%;
}
.business_seats,
.economy_seats {
  width: 49%;
}
.business_price,
.economy_price {
  width: 49%;
}

.Create {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Create button {
  background-color: #002f6c;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.Create button:hover,
.create button:active {
  color: #002f6c;
  background-color: #fff;
  border: 2px solid #002f6c;
  cursor: pointer;
}
