* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  /* background-color: #e1f5fe; */
  background-color: #fff;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.centered-half {
  width: 40%;
  margin: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.col-70 {
  width: 70%;
  padding: 1rem;
}

.col-30 {
  width: 30%;
  padding: 1rem;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  background-color: #002f6c;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #002f6c;
  cursor: pointer;
}

.del-btn {
  text-decoration: none;
  background: transparent;
  /* background-color: #d0342c; */
  color: #d0342c;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #d0342c;
  cursor: pointer;
}

.del-btn:hover,
.del-btn:active {
  background-color: #ff3344;
  border-color: #ff3344;
  color: white;
}

.btn:hover,
.btn:active {
  background-color: #01579b;
  border-color: #01579b;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: #002f6c;
  border: none;
  background-color: #e1f5fe;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: #002f6c;
  color: white;
}

.mui-notification {
  /* width: 20%; */
  margin: auto;
  margin-top: 30px;
}
