.item {
  width: 60%;
  margin: 2rem auto;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title button {
  margin: 0 3rem;
}

.row {
  display: flex;
  justify-content: space-around;
}

.actions-row {
  display: flex;
  justify-content: flex-start;
}

.actions-row button {
  margin: 0 0.5rem;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
